* {
  /* border: 1px red solid; */
}

.appContainer {
  margin: 0 5% 0 5%;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  align-items: baseline;
}

a {
  text-decoration: none;
  color: rgb(170, 0, 0);
}

/* home page styles */
.backgroundImageContainer {
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-image: url(./Assets/Pizza.jpg);
  /* background-position: center; */
  /* background-size: cover; */
  background-repeat: no-repeat;
  height: 60vh;
}


button.pizza {
  padding: 1%;
  border: none;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 5px;
  color: rgb(1, 54, 1);
}

/* pizza form styles */
.formContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(175, 197, 176);
  margin: 0 20% 0 20%;
}

h3 {
  margin: 2%;
  padding: 1%;
}

.formTitle {
  text-align: center;
}

.submit {
  margin: 3%;
}
